
.link {
    display: inline-block;
    text-decoration: none;
    padding: 15px 24px;
    font-size: 20px;
    font-weight: 500;
    color: lightslategrey;
}
.link:hover {
    color: orange;
    background-image: repeating-linear-gradient(to top, orange, transparent 5px 50px);
}
