.field {
    display: flex !important;
    margin-top: 10px;
    height: 1100px;
    width: 100%; 
    /* margin: 0 auto; */
    background-size: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: linear-gradient(to right,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9)),
        url("../../images/1.jpeg");
}

aside{
    width: 120px;
}
.line{
    display: inline-block;
    height: 85%;
    margin-top: 40px;
    border: 1px solid rgba(11, 11, 11, 0.3);
    position: absolute;
    left: 110px;
}
/* .list{
    list-style: none;
    cursor: pointer;
} */
.list_item{
    transform: rotate(270deg);
    transform-origin: top left;
    margin-left: 40px;
    margin-top: 150px;
    font-size: 20px;
}
.list_item a{
    color: rgba(11, 11, 11, 0.5);
    text-transform: uppercase;
}

/* ============================= */
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    /* margin-left: 170px; */
    margin-top: 150px;
}

.text_logo {
    font-size: 35px;
    display: contents;
}

.tooth {
    background-color: orange;
    width: 112px;
    height: 112px;
}

/* ============================= */
.wrapper{
    font-family: Poppins;
    height: auto;
    width: 650px;
    font-size: 30px;
    margin: 40px 0 0 10px;
    text-transform: uppercase;
    position: relative;
}   
.text{
    margin-bottom: 30px;
}
.logo{
    color: orange;
    font-weight: 600;
    font-style: italic;
    /* font-family: "Titillium Web"; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.phone_btn{
    width: 350px;
    height: 75px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
/* .phone_btn::after{
    position: absolute;
    display: inline-block;
    content: "";
    width: 350px;
    height: 2px;
    left: 629px;
    top: 737px;
    background-color: rgb(0 0 0 / 90%);
    opacity: 1;

}
.phone_btn::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 2px;
    height: 80px;
    left: 961px;
    top: 676px;
    background-color: rgb(0 0 0 / 90%);
    opacity: 1;
} */
.icon{
    width: 28px;
    height: 28px;
    fill: white;
    margin-right: 10px;
}
.line1 {
    display: inline-block;
    height: 85px;
    margin-top: -60px;
    border: 1px solid rgb(0, 0, 0) !important;
    position: absolute;
    left: 360px;
}
.line2 {
    display: inline-block;
    width: 350px;
    margin-top: 10px;
    border: 1px solid rgb(0, 0, 0) !important;
    position: absolute;
    left: 25px;
}