.wrap{
    display: flex;
}

.parentList {
   
}
.iconClose {
    position: absolute;
    width: 20px;
    height: 18px;
    fill: red;
}
.icon {
    width: 10px;
    height: 10px;
    fill: red;
}

.parentListItem{
    margin: 10px;
    background-color: orange;
}
.title{
    padding: 10px;
    text-align: left;
}

.innerList {
    list-style: circle !important;
    text-decoration: dashed !important;
    background-color: lightgrey;
    display: none;
    text-align: left;
    padding-left: 10px;
}
.open{
    display: block;
}


// for navigation
// .parentListItem {
//     background-color: violet;
//     &:hover {
//         &>.innerList {
//             display: block;
//         }
//     }
// }

// .innerList{
//     background-color: green;
//     display: none;
// }