.wrap{
    @media screen and (min-width: 768px) {
        display: flex;  
    }
}
.image{
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        width: 40%;
        height: 40%;
    }
}
.title {
    margin: 10px 0 10px 0;
    color: orange;
    @media screen and (min-width: 768px) {
        margin-top: 30px;
    }
}
.line {
    display: block;
    text-align: center;
    width: 100px;
    margin: 10px auto;
    border: 1px dotted orange;
}
.parentList {
   width: 90%;
   margin: 0 auto;
    @media screen and (min-width: 768px) {
        width: 60%; 
    }
}
// ========================

.parentListItem{
    margin: 10px 0;
    background-color: orange;
    @media screen and (min-width: 768px) {
        font-size: 22px;
        margin: 25px 0;
    }
}
.titleItem{
    padding: 10px;
    text-align: left;
    position: relative;
    @media screen and (min-width: 768px) {
        padding: 15px;
    }
}
.iconClose {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 18px;
    fill: black;
    @media screen and (min-width: 768px) {
        right: 30px;
        width: 25px;
        height: 25px;
    }
}
.close {
    fill: white;
}
.innerList {
    list-style: circle !important;
    text-decoration: dashed !important;
    background-color: white;
    display: none;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    @media screen and (min-width: 768px) {
        font-size: 20px;
        
    }
}
.itemList{
    padding: 0 0 10px 20px;
}
.itemListItem{
    position: relative;
}
.icon {
    position: absolute;
    left: -17px;
    top: 3px;
    width: 10px;
    height: 10px;
    fill: orange;
}
.open{
    display: block;
}


// for navigation
// .parentListItem {
//     background-color: violet;
//     &:hover {
//         &>.innerList {
//             display: block;
//         }
//     }
// }

// .innerList{
//     background-color: green;
//     display: none;
// }