.item {
    width: 320px;
    // margin: 20px;
    padding: 20px;
    display: flex;
    text-align: left;
    outline: 1px solid red;
}
.img {
    width: 60px;
    height: 60px;
    margin: 10px 30px 0 0 ;
    background-color: orange;
}
.text{
    margin-top: 10px;
}